body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.links{
 
  width: 600px;
  margin: auto;
  text-align: center;
  
}
.links a{
  padding: 8px 10px;
  margin: 10px;
  font-size: 22px;
  text-decoration: none;
  font-weight: 600;
  background: gray;
  color: #fff;

}

.center{
 text-align: center;
}